:root {
    --flex-direction: row;
    --generation-container-width: 33%;
    --emissions-container-width: 40%;
    --price-container-width: 40%;
    --flex-gap: 20px;
    --container-height: 450px;
    --container-body-height: 440px;

    --border-radius: 10px;
    --border-style: solid;
    --border-color: lightgray;
    --border-width: 2px;
}

@media only screen and (max-width: 600px) {
    :root {
        --flex-direction: column;
        --generation-container-width: 100%;
        --emissions-container-width: 100%;
        --price-container-width: 100%;
    }
}

#generation-body {
    display: flex;
    justify-content: space-between;
    height: var(--container-height);
    gap: var(--flex-gap);
    flex-direction: var(--flex-direction);
}

.generation-container{
    height: var(--container-height);
    background-color: white;
    flex: 1;
    max-width: var(--generation-container-width);

    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-width: var(--border-width);
}

.generation-container-body {
    background-color: white;
    padding: 10px;
    height: var(--container-body-height);
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

#emissions-body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: var(--flex-direction);
    gap: var(--flex-gap);
}

.emissions-container{
    height: var(--container-height);
    background-color: white;
    flex: 1;
    max-width: var(--emissions-container-width);

    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-width: var(--border-width);
}

.emissions-container-body {
    background-color: white;
    height: var(--container-body-height);
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

#price-body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: var(--flex-direction);
    gap: var(--flex-gap);
}

.price-container{
    height: var(--container-height);
    background-color: white;
    flex: 1;
    max-width: var(--price-container-width);

    border-radius: var(--border-radius);
    border-style: var(--border-style);
    border-color: var(--border-color);
    border-width: var(--border-width);
}

.price-container-body {
    background-color: white;
    height: var(--container-body-height);
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

#uk-energy-page {
    background-color: #f6f6f6;
    padding: 20px 20px 30px 20px;
    border-radius: 15px;
    margin-top: 15px;
    overflow: overlay;
}

.acknowledgement {
    margin-top: 20px;
}

.tab-body {
    margin: 20px 0 20px 0;
}