#generation-body {
    display: flex;
    justify-content: space-between;
    height: 450px;
    gap: 20px;
}

.generation-gw-last24h-container{
    height: 450px;
    background-color: white;
    flex: 1;
    max-width: 33%;

    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.generation-gw-last24h {
    background-color: white;
    padding: 10px;
    height: 400px;
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

.generation-pct-last24h-container{
    height: 450px;
    background-color: white;
    flex: 1;
    max-width: 33%;

    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.generation-pct-last24h {
    background-color: white;
    height: 400px;
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

.generation-pct-latest-container{
    height: 450px;
    background-color: white;
    margin: 0 auto;
    flex: 1;
    max-width: 33%;

    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.generation-pct-latest {
    background-color: white;
    padding: 20px;
    height: 400px;
    margin: auto;
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

#emissions-body {
    display: flex;
    justify-content: space-evenly;
}

.emissions-last24h {
    background-color: white;
    height: 400px;
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

.emissions-lastweek {
    background-color: white;
    height: 400px;
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

.emissions-last24h-container{
    height: 450px;
    background-color: white;
    flex: 1;
    max-width: 40%;

    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.emissions-lastweek-container{
    height: 450px;
    background-color: white;
    flex: 1;
    max-width: 40%;

    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

#price-body {
    display: flex;
    justify-content: space-evenly;
}

.price-last24h {
    background-color: white;
    height: 400px;
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

.price-lastweek {
    background-color: white;
    height: 400px;
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

.price-last24h-container{
    height: 450px;
    background-color: white;
    flex: 1;
    max-width: 40%;

    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.price-lastweek-container{
    height: 450px;
    background-color: white;
    flex: 1;
    max-width: 40%;

    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

#page {
    background-color: #f6f6f6;
    padding: 20px 20px 30px 20px;
    border-radius: 15px;
    margin-top: 15px;
}

.acknowledgement{
    margin-top: 40px;
    font-size: 14px;
    position: absolute; bottom: 0px; 
    margin-bottom: 20px;
}