#generation-body {
    display: flex;
    justify-content: space-between;
    height: 450px;
    gap: 20px;
}

.generation-container{
    height: 450px;
    background-color: white;
    flex: 1;
    max-width: 33%;

    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.generation-container-body {
    background-color: white;
    padding: 10px;
    height: 400px;
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

#emissions-body {
    display: flex;
    justify-content: space-evenly;
}

.emissions-container{
    height: 450px;
    background-color: white;
    flex: 1;
    max-width: 40%;

    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.emissions-container-body {
    background-color: white;
    height: 400px;
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

#price-body {
    display: flex;
    justify-content: space-evenly;
}

.price-container{
    height: 450px;
    background-color: white;
    flex: 1;
    max-width: 40%;

    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
}

.price-container-body {
    background-color: white;
    height: 400px;
    border-radius: 10px;
    padding: 0px 10px 10px 0;
}

#uk-energy-page {
    background-color: #f6f6f6;
    padding: 20px 20px 30px 20px;
    border-radius: 15px;
    margin-top: 15px;
}

footer{
    margin-top: 40px;
    font-size: 14px;
    position: absolute; bottom: 0px; 
    margin-bottom: 20px;
}

.tab-body {
    margin: 20px 0 20px 0;

}