html {
    font-family: Proza, sans-serif;
    font-weight: 300;
    min-height: 100%;
    background: #eee;
}

:root{
    --body-margin: 50px;
}

@media only screen and (max-width: 600px) {
    :root {
        --body-margin: 10px;
    }
  }

body {
    height: 100%;
    margin-left: var(--body-margin);
    margin-right: var(--body-margin);
}