:root{
    --logo-left: 60px;
}

@media only screen and (max-width: 600px) {
    :root {
        --logo-left: 20px;
    }
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #f6f6f6;
    border-radius: 15px;
    margin-top: 15px;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.nav-item {
    flex: 1;
    text-align: center;
}

.nav-logo{
    position: absolute;
    left: var(--logo-left);
}