nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #f6f6f6;
    border-radius: 15px;
    margin-top: 15px;

    a {
        text-decoration: none;
        color: inherit;
    }
}

.nav-left {
    flex: 1;
    text-align: right;
    margin-right: 5px;
}

.nav-right {
    flex: 1;
    text-align: left;
    margin-left: 5px;
}

.nav-logo{
    position: absolute;
    left: 60px;
}

.nav-dot{
    width: 7px;
    height: 7px;
    margin: 0 10px 0 10px;
    background-color: #80bfff; /* Change this to your desired color */
    border-radius: 50%;
    display: inline-block; 
}